@import 'variables';
@import 'reset-typography';
@import 'typography';

html {
  font-size: 100%;
}

html, body, :global(#content) {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  padding: 0;
  margin: 0;
}

body {
  @include reset-typography();
}

* {
  -webkit-tap-highlight-color: transparent;
  box-sizing: border-box;
}
