@import 'variables';
@import 'reset-typography';

html {
  font-size: 100%;
}

html, body, #content {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  background: $white;
}

body {
  @include reset-typography();
}

* {
  -webkit-tap-highlight-color: transparent;
}
