@import 'vertical-rhythm';

:local {
  .Center {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    text-align: center;
  }

  .CenterPadding {
    width: 100%;
    max-width: rhythm(50);
    padding: rhythm(2);
  }

  .CenterContent {
    width: 100%;
  }
}
