@import 'variables';
@import 'vertical-rhythm';

:local {
  .Deck {
    display: flex;
    flex-direction: column;
  }

  @media #{$large-up} {
    .Deck {
      flex-direction: row;
      margin: rhythm(2) 0;
    }
  }
}
