@import 'variables';
@import 'vertical-rhythm';

.Page {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
}

.PaddedContainer {
  padding: rhythm(1);
}

@media #{$large-up} {
  .PaddedContainer {
    padding: rhythm(2);
  }
}

:global(.ptr-loading) .Page, :global(.ptr-reset) .Page,
:global(.ptr-loading) #ptr, :global(.ptr-reset) #ptr {
  transition: all .25s ease;
}

:global(.ptr-reset) .Page {
  -webkit-transform: translate3d( 0, 0, 0 );
  transform: translate3d( 0, 0, 0 );
}

:global(.ptr-loading) .Page {
  -webkit-transform: translate3d( 0, 50px, 0 );
  transform: translate3d( 0, 50px, 0 );
}
